.feature {
  background-color: $lightGrayishBlue;
  text-align: center;
  justify-content: space-between;
  
  @include breakpoint-up(medium) {
    text-align: left;
  }

  &__content {
    padding: 3.75rem 1.25rem;
    @include breakpoint-up(medium) {
      padding: 3.75rem 2.5rem;
    }

    @include breakpoint-up(large) {
      padding: 3.75rem 5rem;
    }
  }
  &__icon{
    width: 4.5rem; 
    height: 4.5rem;
  }
  &__intro {
    margin-top: 1.625rem;
    margin-bottom: 3.75rem;
    text-align: center;

    @include breakpoint-up(large){
      flex: 2;
      order: 1;
      text-align: left;
    }
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;     
    }
  }
  &__botton {
    margin-top: 5.625rem;
  }
  &__item {
    flex: 0 0 100%;
    border: 1px solid transparent;
    padding: 0.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center; // Center items vertically
    transition: all 150ms ease-in-out;
    border-radius: 0.625rem; // Rounded corners

    &:hover {
      border-color: linear-gradient(129deg, rgba(238,174,202,1) 13%, rgba(48,34,212,1) 63%);
      transform: scale(1.2);
    }

    @include breakpoint-up(medium) {
      flex: 0 0 calc(50% - 1rem); // Adjust margin to create space between items
      margin: 0.5rem; // Add margin between items
    }

    @include breakpoint-up(large) {
      flex: 1;
    }
  }

  &__title {
    margin-top: 1.875rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.15;
    color: $darkBlue;
    margin-bottom: 1rem;
    text-align: center;

    @include breakpoint-up(large) {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
